@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("/font/Roboto-Black.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("/font/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("/font/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("/font/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/font/Roboto-Bold.ttf");
}

* {
    font-family: roboto;
    color: rgb(17, 15, 65);
    user-select: none;

}

body {
    margin: 0;
}

h1 {
    font-weight: bolder;
    font-family: Roboto;
}

p {
    font-weight: 500;
}

button {
    padding: 10px 25px;
    background: transparent;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 16px;
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: orange;
    color: white;
    font-weight: 700;
    transform: scale(1.05);
}

div.mart {
    background-color: rgb(238, 238, 238);
    padding-bottom: 20px;
}

div.organic h1 span {
    clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%);
    background-color: orange;
    padding: 10px 25px;
    display: inline-block;
    width: 130px;
}